<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Iniciar Sesión</h2>

        <form action="/api/sessions/login" method="POST">

            <div class="mb-3">
                <label for="email" class="fom-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="mb-3">
                <label for="password" class="fom-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-secondary w-100">Ingresar</button>

        </form>

        {{#if error}}
            <div class="alert alert-danger mt-3">
                {{error}}
            </div>
        {{/if}}

        <p class="text-center mt-3">
            ¿Aún no tienes una cuenta? <a href="/register">Regístrate aquí</a>
        </p>

    </div>

</div>