<div class="row">
    <div class="col-12">
        {{#if user}}
            <div class="alert alert-info">
                <h4>Hola, {{user.first_name}}</h4>
                <p>Email: {{user.email}} | Rol: {{user.role}}</p>
            </div>
        {{/if}}
    </div>
</div>