<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            <h4>Bienvenido</h4>
            <p>Datos de usuario al iniciar la sesión</p>
        </div>
    </div>
</div>